doctype html
html
    head
        title Final Project
        meta(name="viewport", content="width=device-width,initial-scale=1")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        link(href="/contacts.css", rel = "stylesheet")
        link(href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css", rel="stylesheet")
    body
        block content
